
/**
 *	The mediawesome specific styling.
 *	@author Nathan Glasl <nathan@silverstripe.com.au>
 */

p.mediawesome.notice,
p.mediawesome.notification {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

p.mediawesome.notice {
	background: #F0F8FC;
	padding: 10px;
	border: 1px solid #93CDE8;
}

p.mediawesome.notification {
	background: #FFA84C;
	background: -o-linear-gradient(top, #FFA84C, #FF7B0D);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr = '#FFA84C', endColorStr = '#FF7B0D');
	background: -ms-linear-gradient(top, #FFA84C, #FF7B0D);
	background: -moz-linear-gradient(top, #FFA84C, #FF7B0D);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFA84C), color-stop(100%, #FF7B0D));
	background: -webkit-linear-gradient(top, #FFA84C, #FF7B0D);
	padding: 5px;
	border: 1px solid #FF7400;
}

/* Correcting some core layout issues. */

#MediaPermission ul.optionset li {
	float: none;
}

#MediaPermission ul.optionset li input,
#MediaPermission ul.optionset li label {
	vertical-align: middle;
}

#MediaPermission ul.optionset li input {
	margin-top: 0;
}
